 * {
	 margin: 0;
	 padding: 0;
	 border: 0;
 }
 
 a:active,
 a:hover {
	 outline: 0;
 }
 
 @-webkit-viewport { width: device-width; }
 @-moz-viewport { width: device-width; }
 @-ms-viewport { width: device-width; }
 @-o-viewport { width: device-width; }
 @viewport { width: device-width; }
 
img{
	max-width: 100%;
}

 .menu-principal ul {
	 margin: 0;
	 padding: 0;
	 width: 100%;
	 display: block;
	 list-style: none;
 }
 
 .menu-principal li {
	 width: 100%;
	 display: block;
 }
 
 .js .menu-principal {
	 clip: rect(0 0 0 0);
	 max-height: 0;
	 position: absolute;
	 display: block;
	 overflow: hidden;
	 zoom: 1;
 }
 
 .menu-principal.opened {
	 max-height: 9999px;
 }
 
 .disable-pointer-events {
	 pointer-events: none !important;
 }
 
 .nav-toggle {
	 -webkit-tap-highlight-color: rgba(0,0,0,0);
	 -webkit-touch-callout: none;
	 -webkit-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	 -o-user-select: none;
	 user-select: none;
 }
 
 @media screen and (min-width: 50em) {
	 .js .menu-principal {
		 position: relative;
	 }
	 .js .menu-principal.closed {
		 max-height: none;
	 }
	 .nav-toggle {
		 display: none;
	 }
 }
 
 body {
	 -webkit-text-size-adjust: 100%;
	 -ms-text-size-adjust: 100%;
	 text-size-adjust: 100%;
	 color: #37302a;
	 background: #fff;
	 font: normal 100%/1.4 sans-serif;
 }
 
 section {
	 border-bottom: 1px solid #999;
	 text-align: center;
	 padding: 100px 0 0;
	 height: 800px;
	 width: 100%;
 }
 
 h1 {
	 margin-bottom: .5em;
 }
 
 p {
	 width: 90%;
	 margin: 0 auto;
 }
 
 .menu-topo {
	 background: #993399;
	 position: fixed;
	 z-index: 3;
	 width: 100%;
	 left: 0;
	 top: 0;
 }
 
 .logo {
	 -webkit-tap-highlight-color: rgba(0,0,0,0);
	 text-decoration: none;
	 font-weight: bold;
	 line-height: 55px;
	 padding: 0 20px;
	 color: #fff;
	 float: left;
 }

 #logoMySa{
	 width: 35px;
	 vertical-align: middle;
 }
 
 .mask {
	 -webkit-transition: opacity 300ms;
	 -moz-transition: opacity 300ms;
	 transition: opacity 300ms;
	 background: rgba(0,0,0, .5);
	 visibility: hidden;
	 position: fixed;
	 opacity: 0;
	 z-index: 2;
	 bottom: 0;
	 right: 0;
	 left: 0;
	 top: 0;
 }
 
 .android .mask {
	 -webkit-transition: none;
	 transition: none;
 }
 
 .js-nav-active .mask {
	 visibility: visible;
	 opacity: 1;
 }
 
 @media screen and (min-width: 70em) {
	 .mask {
		 display: none !important;
		 opacity: 0 !important;
	 }
 }
 
 .fixed {
	 position: fixed;
	 width: 100%;
	 left: 0;
	 top: 0;
 }
 
 .menu-principal,
 .menu-principal * {
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
 }
 
 .menu-principal,
 .menu-principal ul {
	 list-style: none;
	 width: 100%;
	 float: left;
 }
 
 @media screen and (min-width: 40em) {
	 .menu-principal {
		 float: right;
		 width: auto;
	 }
 }
 
 .menu-principal li {
	 float: left;
	 width: 100%;
 }
 
 @media screen and (min-width: 37em) {
	 .menu-principal li {
		 width: auto;
	 }
 }
 
 .menu-principal a {
	 -webkit-tap-highlight-color: rgba(0,0,0,0);
	 border-top: 1px solid white;
	 text-decoration: none;
	 background: #993399;
	 padding: 0.7em 1em;
	 color: #fff;
	 width: 100%;
	 float: left;
 }
 
 .menu-principal a:active,
 .menu-principal .ativo a {
	 background: purple;
 }

 a:hover, a:active{
	background: rgba(0, 0, 0, 0.1); 
 }

 @media screen and (min-width: 49em) {
	 .menu-principal a {
		 padding: 1.02em 2em;
		 text-align: center;
		 border-top: 0;
		 float: left;
		 margin: 0;
	 }
 }
 
 .menu-principal ul ul a {
	 background: #ca3716;
	 padding-left: 2em;
 }
 
 @media screen and (min-width: 40em) {
	 .menu-principal ul ul a {
		 display: none;
	 }
 }
 
 .nav-toggle {
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
	 text-decoration: none;
	 text-indent: -300px;
	 position: relative;
	 overflow: hidden;
	 width: 60px;
	 height: 55px;
	 float: right;
 }
 
 .nav-toggle:before {
	 color: #fff;
	 font: normal 28px/55px "responsivenav";
	 text-transform: none;
	 text-align: center;
	 position: absolute;
	 content: "\2261";
	 text-indent: 0;
	 speak: none;
	 width: 100%;
	 left: 0;
	 top: 0;
 }
 
 .nav-toggle.ativo:before {
	 font-size: 24px;
	 content: "\78"; 
 }
/**/
.table_container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}
.retrato{
  -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.paisagem{
  -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
		transform: rotate(0deg);
}

textarea {
	width: 500px;
	height: 100px;
	background-color: transparent;
	font-size: 1.2em;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid black;
	color: purple;
 }

 .img{
	 margin-top: -15px;
 }
/**/

.btn-salvar{
	background-color: #993399;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
	cursor: pointer;
	border-radius: 16ex;
}

.btn-salvar:hover{
	background-color: transparent;
	border: solid #993399;
	color: purple;
}