@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

#listAvaliacoes{
	text-align: center;
}

.container{
	display: flex;
	border: 2px solid #ccc;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #ecf0f1;
}

.container2{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20vh;
	background-color: #ecf0f1;
}

.conteudo{
	background-color: #fff;
	border-radius: 15px;
	width: 82%;
	height: 65%;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.conteudo::before{
	content: "";
	position: absolute;
	background-color: #993399;
	width: 40%;
	height: 100%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;

	left: 0;
}

.titulo{
	font-size: 28px;
	font-weight: bold;
	text-transform: capitalize;
}

.titulo-bem-vindo{
	color: #fff;
}

.titulo-Crie-uma-conta{
	color: #993399;
}

.descricao{
	font-size: 14px;
	font-weight: 300;
	line-height: 30px;
}

.descricao-1{
	color: #fff;
}

.descricao-2{
	color: #993399;
	text-align: center;
}

.btn{
	border-radius: 15px;
	text-transform: uppercase;
	color: #fff;
	
	font-weight: bold;
	width: 250px;
	align-self: center;
	border: none;
	margin-top: 1rem;
}

.btn-1{
	background-color: transparent;
	font-size: 15px;
	padding: 10px 50px;
	border: 1px solid #fff;
	transition: background-color 0.9s;
}

.btn-2{
	background-color: #993399;
	font-size: 15px;
	padding: 10px 50px;
	border: 1px solid #993399;
	transition: background-color 0.9s;
}

.btn-2:hover{
	background-color: #fff;
	color: purple;
}

.btn-1:hover{
	background-color: #fff;
	color: purple;
}

.conteudo-1{
	display: flex;
}

.conteudo-1 .coluna-2{
	z-index: 11;
}

.coluna-1{
	text-align: center;
	width: 40%;
	z-index: 10;
}

.coluna-2{
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.list-midias-sociais{
	display: flex;
	list-style-type: none;
}

.list-midias-sociais{
	margin: 1rem 0;
}

.item-midias-sociais{
	border: 1px solid #ccc;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #993399;
}

.link-midias-sociais:not(:first-child){
	margin-left: 10px;
}

.link-midias-sociais:hover .item-midias-sociais{
	background-color: #993399;
	color: #fff;
	border-color: #ccc;
}

.link-midias-sociais .item-midias-sociais{
	transition: background-color 0.9s;
}

.form{
	display: flex;
	flex-direction: column;
	width: 55%;
	text-align: center;
}

.form input{
	height: 45px;
	width: 100%;
	border: none;
	background: #ecf0f1;
}

input:-webkit-autofill 
{    
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}

.label-criarConta{
	background-color: #ecf0f1;
	display: flex;
	align-items: center;
	margin: 8px;
}

.conteudo-2{
	position: absolute;
	display: flex;
}

.icon-modificado{
	color: #993399;
	padding: 0 5px;
}

.conteudo-2 .coluna-1{
	order: 2;
	z-index: -1;
}

.conteudo-2 .coluna-2{
	order: 1;
	z-index: -1;
}

.senha{
	color: purple;
	font-size: 14px;
	margin: 15px 0;
}

.senha::first-letter{
	text-transform: capitalize;
}

.fazer-login-js .conteudo-1 .coluna-1{
	z-index: -1;
}

.fazer-login-js .conteudo-2 .coluna-2{
	z-index: 11;
}

.fazer-login-js .conteudo-2 .coluna-1{
	z-index: 13;
}

.fazer-login-js .conteudo::before{
	left: 60%;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	animation: deslizarDir 2s;

	z-index: 12;
}

.cadastrar-se-js .conteudo::before{
	animation: deslizarEsq 2s;
	
	z-index: 12;
}

.cadastrar-se-js .conteudo-2 .coluna-1,
.cadastrar-se-js .conteudo-2 .coluna-2{
	z-index: -1;
}

.cadastrar-se-js .conteudo-1 .coluna-2{
	z-index: 11;
}

.cadastrar-se-js .conteudo-1 .coluna-1{
	z-index: 13;
}

.fazer-login-js .conteudo-1 .coluna-2{
	z-index: -1;
	position: relative;
	animation: deslocamentoEsq 3s;
}

.cadastrar-se-js .conteudo-2 .coluna-2{
	position: relative;
	z-index: -1;
	animation: deslocamentoDir 3s;
}

/*animação css para o conteúdo*/

@keyframes deslocamentoDir{
	from{
		left: 0;
		z-index: 12;
	}

	25%{
		left: 25px;
	}

	50%{
		left: 50px;
	}

	to{
		left: 110px;
		z-index: -1;
	}
}

@keyframes deslocamentoEsq{
	from{
		left: 0;
		opacity: 1;
		z-index: 12;
	}

	25%{
		left: -80px;
		opacity: .5;
	}

	50%{
		left: -100px;
		opacity: .2;
	}

	to{
		left: -110px;
		opacity: 0;
		z-index: -1;
	}
}

/*animação css*/

@keyframes deslizarDir{
	from{
		left: 0;
		width: 40%;
	}

	25%{
		left: 5%;
		width: 50%;
	}

	50%{
		left: 25%;
		width: 60%;
	}

	75%{
		left: 45%;
		width: 50%;
	}
	
	to{
		left: 60%;
		width: 40%;
	}
}

@keyframes deslizarEsq{
	from{
		left: 60%;
		width: 40%;
	}

	25%{
		left: 45%;
		width: 50%;
	}

	50%{
		left: 25%;
		width: 60%;
	}

	75%{
		left: 5%;
		width: 50%;
	}
	
	to{
		left: 0;
		width: 40%;
	}
}

.teste{
	margin: 0 auto;
	margin-top: 80px;
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	display: none;
}

.loginResp{
	margin: 0 auto;
	margin-top: 20px;
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	display: none;
}

@media (max-width: 800px) 
{
  .container
   {
		display: none;
	 }
	 .teste{
		 display: block;
	 }
	 .descricao-2{
		 text-align: left;
	 }
	 .item-midias-sociais{
		 text-align: center;
	 }

	 .loginResp{
		 display: block;
	 }
}